openapi: 3.1.0
info:
  title: AI Language Coach API
  description: |
    Complete API specification for the AI Language Coach platform.
    Multi-agent AI-powered language learning with exam preparation, voice sessions, and gamification.
  version: "1.0"
  contact:
    name: AI Language Coach Team
  license:
    name: MIT

servers:
  - url: https://api.ailanguagecoach.com/v1
    description: Production
  - url: https://staging-api.ailanguagecoach.com/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      required: [success, message, data]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Request completed successfully."
        data:
          type: object
        meta:
          type: object

    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
              example: "Invalid request."
            details:
              type: array
              items:
                type: object

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          format: uri
        native_language:
          type: string
        target_language:
          type: string
        proficiency_level:
          type: string
          enum: [A1, A2, B1, B2, C1, C2]
        target_exam:
          type: string
        daily_goal_minutes:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Lesson:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [grammar, vocabulary, speaking, writing, reading, listening, pronunciation, translation]
        title:
          type: string
        level:
          type: string
          enum: [A1, A2, B1, B2, C1, C2]
        topic:
          type: string
        content:
          type: object
        xp_reward:
          type: integer
        estimated_minutes:
          type: integer

    VocabularyWord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        word:
          type: string
        definition:
          type: string
        example:
          type: string
        pronunciation:
          type: string
        ease_factor:
          type: number
          format: float
        interval:
          type: integer
        repetitions:
          type: integer
        next_review:
          type: string
          format: date-time

    ChatMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        token_count:
          type: integer
        grammar_feedback:
          type: object
        translation:
          type: string
        timestamp:
          type: string
          format: date-time

    ExamResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        exam_type:
          type: string
        score:
          type: number
          format: float
        max_score:
          type: number
          format: float
        band_score:
          type: number
          format: float
        section_scores:
          type: object
        completed_at:
          type: string
          format: date-time

    Achievement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        achievement_name:
          type: string
        badge:
          type: string
        xp_reward:
          type: integer
        unlocked_at:
          type: string
          format: date-time

    VoiceSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        mode:
          type: string
          enum: [conversation, pronunciation, shadowing]
        status:
          type: string
          enum: [active, completed, failed]
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        plan:
          type: string
          enum: [free, premium, pro]
        status:
          type: string
          enum: [active, cancelled, expired]
        provider:
          type: string
        renewal_date:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        title:
          type: string
        body:
          type: string
        read_at:
          type: string
          format: date-time
        sent_at:
          type: string
          format: date-time

    AnalyticsDashboard:
      type: object
      properties:
        total_xp:
          type: integer
        level:
          type: integer
        streak:
          type: integer
        lessons_completed:
          type: integer
        vocabulary_learned:
          type: integer
        speaking_minutes:
          type: integer
        skills:
          type: object
          properties:
            grammar:
              type: number
            speaking:
              type: number
            writing:
              type: number
            vocabulary:
              type: number
            reading:
              type: number
            listening:
              type: number

    StudyPlan:
      type: object
      properties:
        date:
          type: string
          format: date
        activities:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              estimated_minutes:
                type: integer
              xp_reward:
                type: integer
              completed:
                type: boolean
        estimated_minutes:
          type: integer
        focus_area:
          type: string
        xp_goal:
          type: integer

  parameters:
    ExamId:
      name: exam
      in: path
      required: true
      schema:
        type: string
        enum: [ielts, toefl, pte, oet, celpip, toeic, duolingo, gre, gmat, sat, act, goethe, telc, testdaf, dsh, delf_dalf, tcf, tef, dele, siele, jlpt, topek, hsk, cambridge]
    LessonId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

tags:
  - name: Auth
    description: Authentication and authorization
  - name: Users
    description: User profile management
  - name: Lessons
    description: Learning content and lessons
  - name: Vocabulary
    description: Vocabulary learning and review
  - name: Grammar
    description: Grammar exercises and rules
  - name: Reading
    description: Reading comprehension
  - name: Listening
    description: Listening exercises
  - name: Writing
    description: Writing practice and evaluation
  - name: Speaking
    description: Speaking practice and evaluation
  - name: AI Tutor
    description: AI-powered tutoring
  - name: Voice
    description: Voice sessions and streaming
  - name: Exams
    description: Exam practice and mock tests
  - name: Assessment
    description: Placement and progress assessment
  - name: Analytics
    description: Learning analytics and progress
  - name: Gamification
    description: XP, badges, achievements, leaderboard
  - name: Notifications
    description: User notifications
  - name: Subscriptions
    description: Subscription management
  - name: Files
    description: File upload and management
  - name: Admin
    description: Administrative endpoints

paths:
  # ─── Auth ────────────────────────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Email already exists

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Invalid credentials

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Token refreshed
        "401":
          description: Invalid refresh token

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      responses:
        "200":
          description: Logged out successfully

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Reset email sent

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "200":
          description: Password reset successful

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email address
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Email verified

  # ─── Users ───────────────────────────────────────────────────────────────
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/User"
    put:
      tags: [Users]
      summary: Update current user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                native_language:
                  type: string
                target_language:
                  type: string
                proficiency_level:
                  type: string
                  enum: [A1, A2, B1, B2, C1, C2]
                target_exam:
                  type: string
                daily_goal_minutes:
                  type: integer
      responses:
        "200":
          description: Profile updated
    delete:
      tags: [Users]
      summary: Delete current user account
      responses:
        "200":
          description: Account deleted
        "204":
          description: Account deleted

  /users/avatar:
    post:
      tags: [Users]
      summary: Upload user avatar
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Avatar uploaded

  # ─── Lessons ─────────────────────────────────────────────────────────────
  /lessons:
    get:
      tags: [Lessons]
      summary: List available lessons
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [grammar, vocabulary, speaking, writing, reading, listening, pronunciation, translation]
        - name: level
          in: query
          schema:
            type: string
            enum: [A1, A2, B1, B2, C1, C2]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of lessons

  /lessons/{id}:
    get:
      tags: [Lessons]
      summary: Get lesson by ID
      parameters:
        - $ref: "#/components/parameters/LessonId"
      responses:
        "200":
          description: Lesson details
        "404":
          description: Lesson not found

  /lessons/start:
    post:
      tags: [Lessons]
      summary: Start a lesson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lesson_id]
              properties:
                lesson_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Lesson started

  /lessons/complete:
    post:
      tags: [Lessons]
      summary: Complete a lesson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lesson_id, score]
              properties:
                lesson_id:
                  type: string
                  format: uuid
                score:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 100
                time_spent_seconds:
                  type: integer
      responses:
        "200":
          description: Lesson completed, XP awarded

  # ─── Vocabulary ──────────────────────────────────────────────────────────
  /vocabulary:
    get:
      tags: [Vocabulary]
      summary: List user vocabulary
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [learning, mastered, due]
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Vocabulary list

  /vocabulary/review:
    post:
      tags: [Vocabulary]
      summary: Review vocabulary (SRS)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [word_id, quality]
              properties:
                word_id:
                  type: string
                  format: uuid
                quality:
                  type: integer
                  minimum: 0
                  maximum: 5
                  description: "0=forgot, 5=perfect"
      responses:
        "200":
          description: Review recorded, next review scheduled

  /vocabulary/mastered:
    post:
      tags: [Vocabulary]
      summary: Mark vocabulary as mastered
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [word_id]
              properties:
                word_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Word mastered

  /vocabulary/recommendations:
    get:
      tags: [Vocabulary]
      summary: Get vocabulary recommendations
      parameters:
        - name: count
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Recommended words

  # ─── Grammar ─────────────────────────────────────────────────────────────
  /grammar:
    get:
      tags: [Grammar]
      summary: List grammar topics
      parameters:
        - name: level
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Grammar topics

  /grammar/{topic}:
    get:
      tags: [Grammar]
      summary: Get grammar topic details
      parameters:
        - name: topic
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Grammar topic with rules and examples

  /grammar/submit:
    post:
      tags: [Grammar]
      summary: Submit grammar exercise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic, answers]
              properties:
                topic:
                  type: string
                answers:
                  type: array
                  items:
                    type: object
                    properties:
                      question_id:
                        type: string
                      answer:
                        type: string
      responses:
        "200":
          description: Results with feedback

  # ─── Reading ─────────────────────────────────────────────────────────────
  /reading:
    get:
      tags: [Reading]
      summary: List reading exercises
      parameters:
        - name: level
          in: query
          schema:
            type: string
        - name: topic
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Reading exercises

  /reading/{id}:
    get:
      tags: [Reading]
      summary: Get reading exercise
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reading passage with questions

  /reading/submit:
    post:
      tags: [Reading]
      summary: Submit reading answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [exercise_id, answers]
              properties:
                exercise_id:
                  type: string
                answers:
                  type: array
                  items:
                    type: object
                    properties:
                      question_id:
                        type: string
                      answer:
                        type: string
      responses:
        "200":
          description: Score and feedback

  # ─── Listening ───────────────────────────────────────────────────────────
  /listening:
    get:
      tags: [Listening]
      summary: List listening exercises
      parameters:
        - name: level
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Listening exercises

  /listening/audio/{id}:
    get:
      tags: [Listening]
      summary: Get listening audio URL
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Audio URL and transcript

  /listening/submit:
    post:
      tags: [Listening]
      summary: Submit listening answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [exercise_id, answers]
              properties:
                exercise_id:
                  type: string
                answers:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Score and feedback

  # ─── Writing ─────────────────────────────────────────────────────────────
  /writing/evaluate:
    post:
      tags: [Writing]
      summary: Evaluate writing submission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, topic]
              properties:
                text:
                  type: string
                topic:
                  type: string
                exam_type:
                  type: string
      responses:
        "200":
          description: Writing evaluation with feedback

  /writing/history:
    get:
      tags: [Writing]
      summary: Get writing history
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Writing submissions

  /writing/feedback/{id}:
    get:
      tags: [Writing]
      summary: Get detailed writing feedback
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Detailed feedback

  # ─── Speaking ────────────────────────────────────────────────────────────
  /speaking/start:
    post:
      tags: [Speaking]
      summary: Start speaking session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum: [conversation, pronunciation, shadowing]
                topic:
                  type: string
      responses:
        "200":
          description: Session started with session_id

  /speaking/stop:
    post:
      tags: [Speaking]
      summary: Stop speaking session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id]
              properties:
                session_id:
                  type: string
      responses:
        "200":
          description: Session stopped

  /speaking/evaluate:
    post:
      tags: [Speaking]
      summary: Evaluate speaking performance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id]
              properties:
                session_id:
                  type: string
                audio_data:
                  type: string
                  format: byte
      responses:
        "200":
          description: Pronunciation and fluency scores

  /speaking/history:
    get:
      tags: [Speaking]
      summary: Get speaking session history
      responses:
        "200":
          description: Speaking sessions

  # ─── AI Tutor ────────────────────────────────────────────────────────────
  /ai/chat:
    post:
      tags: [AI Tutor]
      summary: Chat with AI tutor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                conversation_id:
                  type: string
                stream:
                  type: boolean
                  default: false
      responses:
        "200":
          description: AI response

  /ai/lesson:
    post:
      tags: [AI Tutor]
      summary: Generate AI lesson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic]
              properties:
                topic:
                  type: string
                level:
                  type: string
                skill_type:
                  type: string
      responses:
        "200":
          description: Generated lesson

  /ai/grammar:
    post:
      tags: [AI Tutor]
      summary: Check grammar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
      responses:
        "200":
          description: Grammar feedback

  /ai/vocabulary:
    post:
      tags: [AI Tutor]
      summary: Get vocabulary help
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [word]
              properties:
                word:
                  type: string
      responses:
        "200":
          description: Word definition and examples

  /ai/translation:
    post:
      tags: [AI Tutor]
      summary: Translate text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, target_language]
              properties:
                text:
                  type: string
                target_language:
                  type: string
      responses:
        "200":
          description: Translation

  /ai/pronunciation:
    post:
      tags: [AI Tutor]
      summary: Evaluate pronunciation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audio_data]
              properties:
                audio_data:
                  type: string
                  format: byte
                expected_text:
                  type: string
      responses:
        "200":
          description: Pronunciation score and feedback

  # ─── Voice ───────────────────────────────────────────────────────────────
  /voice/session:
    post:
      tags: [Voice]
      summary: Create voice session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum: [conversation, pronunciation, shadowing]
                language:
                  type: string
      responses:
        "200":
          description: Session created with LiveKit token

  /voice/stt:
    WebSocket:
      tags: [Voice]
      summary: Streaming speech-to-text
      description: WebSocket for real-time speech-to-text conversion

  /voice/chat:
    WebSocket:
      tags: [Voice]
      summary: Streaming AI voice chat
      description: WebSocket for real-time AI voice conversation

  /voice/tts:
    WebSocket:
      tags: [Voice]
      summary: Streaming text-to-speech
      description: WebSocket for real-time text-to-speech

  /voice/end:
    post:
      tags: [Voice]
      summary: End voice session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id]
              properties:
                session_id:
                  type: string
      responses:
        "200":
          description: Session ended with summary

  # ─── Exams ───────────────────────────────────────────────────────────────
  /exam/{exam}/practice:
    get:
      tags: [Exams]
      summary: Get practice questions for exam
      parameters:
        - $ref: "#/components/parameters/ExamId"
        - name: section
          in: query
          schema:
            type: string
        - name: count
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Practice questions

  /exam/{exam}/mock:
    post:
      tags: [Exams]
      summary: Start mock exam
      parameters:
        - $ref: "#/components/parameters/ExamId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timed:
                  type: boolean
                  default: true
      responses:
        "200":
          description: Mock exam started

  /exam/{exam}/submit:
    post:
      tags: [Exams]
      summary: Submit exam answers
      parameters:
        - $ref: "#/components/parameters/ExamId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [exam_id, answers]
              properties:
                exam_id:
                  type: string
                answers:
                  type: object
      responses:
        "200":
          description: Exam results

  /exam/{exam}/results:
    get:
      tags: [Exams]
      summary: Get exam results
      parameters:
        - $ref: "#/components/parameters/ExamId"
      responses:
        "200":
          description: Exam results history

  /exam/{exam}/analytics:
    get:
      tags: [Exams]
      summary: Get exam analytics
      parameters:
        - $ref: "#/components/parameters/ExamId"
      responses:
        "200":
          description: Performance analytics

  # ─── Assessment ──────────────────────────────────────────────────────────
  /assessment/start:
    post:
      tags: [Assessment]
      summary: Start placement assessment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [placement, progress, diagnostic]
      responses:
        "200":
          description: Assessment started

  /assessment/submit:
    post:
      tags: [Assessment]
      summary: Submit assessment answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assessment_id, answers]
              properties:
                assessment_id:
                  type: string
                answers:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Assessment results

  /assessment/results:
    get:
      tags: [Assessment]
      summary: Get latest assessment results
      responses:
        "200":
          description: Assessment results

  /assessment/history:
    get:
      tags: [Assessment]
      summary: Get assessment history
      responses:
        "200":
          description: Past assessments

  # ─── Analytics ───────────────────────────────────────────────────────────
  /analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Get analytics dashboard
      responses:
        "200":
          description: Dashboard data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AnalyticsDashboard"

  /analytics/progress:
    get:
      tags: [Analytics]
      summary: Get progress over time
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
      responses:
        "200":
          description: Progress data

  /analytics/streak:
    get:
      tags: [Analytics]
      summary: Get streak data
      responses:
        "200":
          description: Streak information

  /analytics/recommendations:
    get:
      tags: [Analytics]
      summary: Get AI-powered recommendations
      responses:
        "200":
          description: Personalized recommendations

  # ─── Gamification ────────────────────────────────────────────────────────
  /xp:
    get:
      tags: [Gamification]
      summary: Get XP balance and history
      responses:
        "200":
          description: XP information

  /badges:
    get:
      tags: [Gamification]
      summary: Get earned badges
      responses:
        "200":
          description: Badges list

  /achievements:
    get:
      tags: [Gamification]
      summary: Get achievements
      responses:
        "200":
          description: Achievements list

  /leaderboard:
    get:
      tags: [Gamification]
      summary: Get leaderboard
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly, all_time]
            default: weekly
      responses:
        "200":
          description: Leaderboard

  # ─── Notifications ───────────────────────────────────────────────────────
  /notifications:
    get:
      tags: [Notifications]
      summary: Get user notifications
      parameters:
        - name: unread_only
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Notifications list

  /notifications/read:
    put:
      tags: [Notifications]
      summary: Mark notifications as read
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_ids:
                  type: array
                  items:
                    type: string
                mark_all:
                  type: boolean
      responses:
        "200":
          description: Notifications marked as read

  /notifications/{id}:
    delete:
      tags: [Notifications]
      summary: Delete a notification
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Notification deleted

  # ─── Subscriptions ───────────────────────────────────────────────────────
  /subscription:
    get:
      tags: [Subscriptions]
      summary: Get current subscription
      responses:
        "200":
          description: Subscription details

  /subscription/checkout:
    post:
      tags: [Subscriptions]
      summary: Create checkout session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [premium, pro]
                platform:
                  type: string
                  enum: [ios, android, web]
      responses:
        "200":
          description: Checkout session created

  /subscription/webhook:
    post:
      tags: [Subscriptions]
      summary: Handle payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed

  /subscription/cancel:
    post:
      tags: [Subscriptions]
      summary: Cancel subscription
      responses:
        "200":
          description: Subscription cancelled

  # ─── Files ───────────────────────────────────────────────────────────────
  /files/upload:
    post:
      tags: [Files]
      summary: Upload a file
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  type: string
                  enum: [avatar, audio, document]
      responses:
        "200":
          description: File uploaded with URL

  /files/{id}:
    get:
      tags: [Files]
      summary: Download a file
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    delete:
      tags: [Files]
      summary: Delete a file
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: File deleted

  # ─── Admin ───────────────────────────────────────────────────────────────
  /admin/users:
    get:
      tags: [Admin]
      summary: List all users
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, deleted]
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Users list
        "403":
          description: Admin access required

  /admin/content:
    get:
      tags: [Admin]
      summary: List all content
      responses:
        "200":
          description: Content list
    put:
      tags: [Admin]
      summary: Update content
      responses:
        "200":
          description: Content updated

  /admin/reports:
    get:
      tags: [Admin]
      summary: Get reports
      responses:
        "200":
          description: Reports data

  /admin/analytics:
    get:
      tags: [Admin]
      summary: Get platform analytics
      responses:
        "200":
          description: Analytics data

  /admin/logs:
    get:
      tags: [Admin]
      summary: Get system logs
      parameters:
        - name: level
          in: query
          schema:
            type: string
            enum: [info, warn, error]
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Log entries
